.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header-style */
header{
    
    background-color:#f8eadb;
}
nav{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-menu ul {
    display: flex;
    list-style: none;
    
}
.nav-menu ul li a{
    text-decoration: none;
    margin-right: 1.1rem;
    color: #424242;
}
.nav-brand{
    font-size: 1.4rem;
    color: #131313;
}
/* banner-style */
.banner{
    max-width: 1440px;
    margin: 0 auto;
    /* text-align: center; */
}
.banner-container{
    max-width: 855px;
    margin: 0 auto;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2.5rem;

}
.banner-title{
    font-size:4rem;
    font-weight: bold;
    color: #131313;
}
.banner-text{
    font-size: 1rem;
    color: 727272;
    margin-bottom: 1.3rem;
}
.btn{
    background-color: #FF900E;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
    color: #FFFFFF;
}
.banner-img{
    max-width: 100%;
}
/* main section-design */
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 5.3rem;
}
.teams{
    display: flex;
    align-items: center;
    margin-bottom: 8.125rem;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.3rem;
}
.team-content{
    max-width: 535px;
    margin-left: 4.2rem;
}
.part-1{
    font-size: 2.7rem;
    color: #727272;
   font-weight: 500px;
}
.part-2{
    font-size: 2.7rem;
    font-weight: 700px;
    color: #131313;
}
.part-3{
     font-size: 2.7rem;
     font-weight: 700px;
    color: #FF900E;

}
.content-text{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}
/* feature section style */
.feature-section{
    display: flex;
    gap: 7.2rem;
}
.feature-title{
   font-size: 2.7rem;
    font-weight: 600;
    color: #131313;
    border-left:5px solid #FF900E;
    padding-left: 1.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

.feature-text{
   font-size:1rem;
   line-height: 1.4rem;
   color: #727272;
}
.feauture-card{
    max-width: 585px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}
.card-title{
    font-size: 1.2rem;
    color: #131313;
}
.card-text{
    font-size: 1rem;
    color: 727272;
    line-height: 1.3rem;
}
.feature-btn{
    max-width: 340px;
    padding: 2.875rem 2.6875rem;;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-left: -60px;
    margin-top: -90px;
}
.feature-img{
    width: 100%;
}
.btn-text{
    font-size: 4rem;
    color: #FFFFFF;
}
.btn-2{
    color: #FFFFFF;
    font-size: 1.5rem;
}
/* responsive design */
@media screen and (max-width:576px) {
    nav, .nav-menu ul, .teams{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-section{
        flex-direction: column;
    }
    .feature-btn{
        margin-top: 20px;
        margin-left: 20px;
    }
}
/* medium respomdive */
@media screen and (min-width:576px) and (max-width:992px){
    
         .teams , .feature-section{
            flex-direction: column;
         }
    
    }