.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header-style */
header{
    
    background-color:#f8eadb;
}
nav{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-menu ul {
    display: flex;
    list-style: none;
    
}
.nav-menu ul li a{
    text-decoration: none;
    margin-right: 1.1rem;
    color: #424242;
}
.nav-brand{
    font-size: 1.4rem;
    color: #131313;
}
/* banner-style */
.banner{
    max-width: 1440px;
    margin: 0 auto;
    /* text-align: center; */
}
.banner-container{
    max-width: 855px;
    margin: 0 auto;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2.5rem;

}
.banner-title{
    font-size:4rem;
    font-weight: bold;
    color: #131313;
}
.banner-text{
    font-size: 1rem;
    color: 727272;
    margin-bottom: 1.3rem;
}
.btn{
    background-color: #FF900E;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
    color: #FFFFFF;
}
.banner-img{
    max-width: 100%;
}